version: "3.8"
services:
  db:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DEFAULT_DB=db
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/bin/mysql